{% extends 'base.html.twig' %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}
    <h1>{{ post.title }}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Place</th>
                <td>{{ post.place }}</td>
            </tr>
            <tr>
                <th>Date_time</th>
                <td>{{ post.dateTime ? post.dateTime|date('Y-m-d H:i:s T') : '' }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_post_index') }}">Retour</a>
    {% if app.user %}
    <a href="{{ path('app_post_edit', {'id': post.id}) }}">Modifer</a>
    {% endif %}
    {{ include('post/_delete_form.html.twig') }}
{% endblock %}